extends layouts/template
append config
  -currentPage = 'Accesorios'
  -
    gallery = [
      {
        title: 'Teminales',
        href: 'teminales',
        //- src: `${path_media}images/no-disponible.jpg`,
        src: 'http://www.beltcar.com/images/terminales-3.jpg',
        subtitle: `Las terminales son un complemento muy útil para la batería de tu automóvil.`
      },
      {
        title: 'Cables',
        href: 'cables',
        //- src: `${path_media}images/no-disponible.jpg`,
        src: 'http://www.beltcar.com/images/cables-1.jpg',
        subtitle: `Los cables nos sirven en ocasiones cuando nos piden pasar batería ...`
      },
      {
        title: 'Sujetadores',
        href: 'sujetadores',
        src: `${path_media}images/no-disponible.jpg`,
        subtitle: `Nuestros servicios son totalmente garantizados`
      },
      {
        title: 'Densimetros',
        href: 'densimetros',
        src: `${path_media}images/no-disponible.jpg`,
        subtitle: `Si requerimos medir la densidad del líquido de una batería, ...`
      }
    ]
block banner
  //- +banner(path_media + "images/slides/slider-55.jpg", '', '', false, false)
  .header--page
    //- video(src=path_media+"video/belt-car.mp4" autoplay loop)
block main
  section.main-section.main-center
    .rex-container.rex-item.l-80.main-center
      h1.rex-item.center.title= currentPage.toUpperCase()
      hr.rex-item.l-block
      - for (let i = 0; i < gallery.length; i++)
        - let g = gallery[i]
        a.button--cta.l-block(href=`#${g.href}`)= `${g.title}`.toUpperCase()
  - for (let i = 0; i < gallery.length; i++)
    - let g = gallery[i]
    section.main-section--second(style="--image: url(../images/bateria-auto.jpg" id=g.href)
      .rex-container.rex-item.main-center.to-center
        h2.rex-item.center= `${g.title}`.toUpperCase()
        p= `${g.subtitle}`.toUpperCase()
    section.main-section
      .rex-container.rex-item.l-80.main-center.to-center
        .rex-item
          - if(i == 0) //- TEMINALES
            :markdown-it
              Son partes metálicas específicas de una máquina o dispositivo eléctrico donde se produce la conexión con el circuito eléctrico exterior al mismo. Normalmente los terminales de una batería, motor o cualquier otro tipo de aparato eléctrico se conectan a través de terminales a los cables que sirven para su alimentación eléctrica. El adecuado mantenimiento de los terminales de una batería para su vehículo es de suma importancia y garantiza la larga vida de todos los dispositivos eléctricos de su automóvil.

              Incluso las baterías automotrices libres de mantenimiento pueden adquirir corrosión acumulada, que se produce cuando gas de hidrogeno producido por la batería entra en contacto con el polvo y el sedimento en la superficie de la batería. Quitar las terminales y limpiarlas ayuda a prevenir problemas mecánicos en el futuro.
          - if(i == 1)
            :markdown-it
              Los cables nos sirven en ocasiones cuando nos piden pasar batería a otro vehículo nos negamos por temor a desconfigurar la computadora de nuestro auto, o bien dañar alguno de sus sistemas. Pero existen ocasiones en las que nos sentimos comprometidos a decir que si, sin analizar el daño que podemos ocasionar. No es muy recomendable pasar corriente, sobre todo entre vehículos de modelos recientes, ya que si no hacemos correctamente el procedimiento podemos dañar el sistema eléctrico de nuestro auto.
              
              ## **¿Alguna vez se ha quedado sin baterías en su vehículo?**
              
              La solución más común para salir de éste trance es el uso de un cable para hacer puente con otro vehículo. Para hacer arrancar un vehículo por medio de un puente, porque la batería está descargada, suelen usarse cables de empalme.

            p.center.t3
              strong Los cables de arranque son necesarios para arrancar un vehículo que se ha quedado sin baterías.
          - if(i == 2)
            :markdown-it
              Ofrecemos Sujetadores de Calidad
          - if(i == 3)
            :markdown-it
              Si requerimos medir la densidad del líquido de una batería, pues necesitamos de un densímetro. Este es un dispositivo no sofisticado y de muy sencillo modo de usar. Está hecho de un pequeño flotador de vidrio con graduaciones y colores, montado dentro de un tubo también de vidrio. Tiene además una pequeña cánula (manguerita) y una perilla, ambas en jebe.
              
              El flotador nos indicará la lectura de la densidad del líquido, el flotador tiene marcas con números y también colores: Rojo, blanco y verde. Si la línea de líquido coincide con el rojo, o sea el flotador como que se hunde completamente, pues la batería está muy descargada. Si es que la línea de líquido coincide con el blanco, pues la batería está al 50% cargada. Si la línea de líquido coincide con el verde, pues el diagnóstico será batería completamente cargada.
            