extends layouts/template
append config
  -currentPage = 'Agua desmineralizada'
block banner
  //- +banner(path_media + "images/slides/slider-55.jpg", '', '', false, false)
  .header--page
    //- video(src=path_media+"video/belt-car.mp4" autoplay loop)
block main
  section.main-section.main-center
    .rex-container.rex-item.l-80.main-center
      h1.rex-item.center.title= currentPage.toUpperCase()
      hr.rex-item.l-block
    .rex-item.l-80.main-center
      p La batería es un dispositivo acumulador de energía química que es liberada en forma de energía eléctrica en el momento de poner en marcha el motor del vehículo. Esta acumulación de energía se realiza mediante un proceso químico entre dos placas de plomo y un líquido llamado electrolito, formado por agua y ácido sulfúrico.