extends layouts/template
append config
  -currentPage = 'Baterías'
  -
    gallery = [
      {
        title: `${currentPage} para Automóviles`,
        cards : [
          {
            title: '',
            thumb: 'no-disponible.jpg',
            full: 'no-disponible.jpg'
          },
          {
            title: '',
            thumb: 'no-disponible.jpg',
            full: 'no-disponible.jpg'
          },
          {
            title: '',
            thumb: 'no-disponible.jpg',
            full: 'no-disponible.jpg'
          }
        ]
      },
      {
        title: `${currentPage} para Motocicletas`,
        cards : [
          {
            title: '',
            thumb: 'no-disponible.jpg',
            full: 'no-disponible.jpg'
          },
          {
            title: '',
            thumb: 'no-disponible.jpg',
            full: 'no-disponible.jpg'
          },
          {
            title: '',
            thumb: 'no-disponible.jpg',
            full: 'no-disponible.jpg'
          }
        ]
      }
    ]
block banner
  //- +banner(path_media + "images/slides/slider-55.jpg", '', '', false, false)
  .header--page
    //- video(src=path_media+"video/belt-car.mp4" autoplay loop)
block main
  section.main-section.main-center
    .rex-container.rex-item.l-80.main-center
      h1.rex-item.center.title= `${currentPage} para Automoviles`.toUpperCase()
      hr.rex-item.l-block
      //- - for (let i = 0; i < gallery.length; i++)
      - for (let p = 0; p < gallery[0].cards.length; p++)
        - let g = gallery[0].cards[p]
        .rex-item.l-25
          .card.card--next-class
            .card__img
              a(href='#')
                img(src= `${path_media}images/${g.thumb}`)
            //- .card__content
              .card__title
                a(href='#') Ciclo de vida de los componentes
              footer.card__footer
                a(href='#') Angular Desde Cero
      .rex-item.center
        a.button(href="#") Ver más

  section.main-section--second(style="--image: url(../images/bateria-auto.jpg")
    .rex-container.rex-item.main-center.to-center
      h2.rex-item.center= currentPage.toUpperCase()
      img.center(src= path_media + "images/baterias.jpg", alt="")
      p
        br
        | SI NO TENEMOS LA BATERÍA QUE USTED BUSCA, ES QUE NO ES BUENA
  section.main-section.main-center
    .rex-container.rex-item.l-80.main-center
      h1.rex-item.center.title= `${currentPage} para Motocicletas`.toUpperCase()
      hr.rex-item.l-block
      - for (let p = 0; p < gallery[0].cards.length; p++)
        - let g = gallery[1].cards[p]
        .rex-item.l-25
          .card.card--next-class
            .card__img
              a(href='#')
                img(src= `${path_media}images/${g.thumb}`)
            //- .card__content
              .card__title
                a(href='#') Ciclo de vida de los componentes
              footer.card__footer
                a(href='#') Angular Desde Cero
      .rex-item.center
        a.button(href="#") Ver más