extends layouts/template
append config
  -currentPage = 'Cargadores'
block banner
  //- +banner(path_media + "images/slides/slider-55.jpg", '', '', false, false)
  .header--page
    //- video(src=path_media+"video/belt-car.mp4" autoplay loop)
block main
  section.main-section.main-center
    .rex-container.rex-item.l-80.main-center
      h1.rex-item.center.title= currentPage.toUpperCase()
      hr.rex-item.l-block
    .rex-item.l-80.main-center
      p Los Cargadores son utilizados para alimentar energía eléctrica a una batería descargada, son usadas en autos, camiones, equipos agrícolas y otros, además asegura la carga rápida, segura y completa. Proporcionando una completa seguridad en el sistema eléctrico de su coche.