extends layouts/template
append config
  -currentPage = 'Inicio'
  -
    gallery = [
      {
        title: 'Automoviles',
        src: `${path_media}images/bateria-auto.jpg`,
        icon: path_media + 'images/auto-icon.png',
        subtitle: `Las terminales son un complemento muy útil para la batería de tu automóvil.`
      },
      {
        title: 'Motocicletas',
        src: `${path_media}images/bateria-moto.jpg`,
        icon: path_media + 'images/moto-icon.png',
        subtitle: `Los cables nos sirven en ocasiones cuando nos piden pasar batería ...`
      }
    ]
block banner
  //- include components/slider
  div.video--header
    video(src=path_media+"video/belt-car.mp4" loop controls muted preload autoplay)
block main
  br
  section.main-section.main-center
    .rex-container.rex-item.l-80.main-center
      .rex-item.l-1-3.l-block
        .block--fist 
          h1.center Empresa boliviana que lleva años comercializando la más completa variedad de baterías
          img(src= path_media + "images/bateria.png", alt="Beltcar")
      .rex-item.l-1-3.l-block.cross-center
        .block--text.rex-item.l-block
          h3.title--mix-1 Nuestra Empresa
          p Empresa boliviana que lleva años comercializando la más completa variedad de baterías para distintos sectores como: automotriz, electrónico, equipo pesado, juguetes, alarmas y la industria en general y la más completa línea de accesorios dando al mercado local, una solución a sus necesidades de baterías.
        .block--text.rex-item.l-block
          h3.title--mix-1 Nuestra Misión
          p Comprometidos con el desarrollo queremos lograr ser la empresa preferida por la calidad en sus servicios, cubriendo adecuadamente las necesidades y todas las expectativas de los clientes.
      .rex-item.l-1-3.l-block.cross-center
        .block--text.rex-item.l-block
          h3.title--mix-1 Nuestra Visión
          p Ser la empresa líder en los servicios automotrices proporcionando un servicio de excelencia favoreciendo el desarrollo, progreso y calidad.
        .block--text.rex-item.l-block
          h3.title--mix-1 Nuestros Valores
          p 
            b Responsabilidad .- 
            | Cumplir a Tiempo con el compromiso.
            br
            b Compromiso .- 
            | Continuar mejorando la capacitación de todos.
            br
            b Servicio .- 
            | Tener una actitud respetuosa y positiva.
            br
            b Trabajo en equipo .- 
            | Brindar un servicio en un ambiente agradable basado en la confianza y el respeto.
  section.main-section--second.center(style="--image: url(../images/baterias-recicladas.jpg);")
    .rext-container.main-center
      .rex-item.l-40
        img(src= path_media + 'images/reciclar-baterias.png', alt="Reciclado de baterias")
      .rex-item.l-40
        h2 Reciclamos su bateria
        p Compramos su bateria usada o en desuso
  section.main-section--silver(style="--image: url(../images/fondo-silver.gif);")
    .rext-container.main-justify
      .rex-item
        br
        h2.center.t1= `Distribuimos las mejores baterías para:`.toUpperCase()
      .rex-item.center.l-block
        - for (let i = 0; i < gallery.length; i++)
          - let g = gallery[i]
            figure.snip1091.navy
              img(src= `${g.src}`, alt= `${g.title}`)
              figcaption
                h2= `${g.title}`
                img.icon(src= `${g.icon}` , alt= `${g.title}`)
              a(href='#')
        h3.t1= `Si no tenemos la batería que usted busca, es que no es buena`.toUpperCase()
  section.main-section--first
    include components/contacts