extends layouts/template
append config
  -currentPage = 'Testers digitales'
block banner
  //- +banner(path_media + "images/slides/slider-55.jpg", '', '', false, false)
  .header--page
    //- video(src=path_media+"video/belt-car.mp4" autoplay loop)
block main
  section.main-section.main-center
    .rex-container.rex-item.l-80.main-center
      h1.rex-item.center.title= currentPage.toUpperCase()
      hr.rex-item.l-block
    .rex-item.l-80.main-center
      p Un Téster, también denominado polímetro, es un instrumento eléctrico portátil para medir directamente magnitudes eléctricas activas y comprobar el estado de carga de la batería de su coche, moto, camión y vehículo agrícola.
      p Tambien podemos medir corrientes y potenciales(tensiones) o pasivas como resistencias, capacidades y otras. Las medidas pueden realizarse para corriente continua o alterna y en varios márgenes de medida cada una.