.block--fist{
  background: var(--second-rgb-9);
  padding: 4rem;
  color: #FFF;
  font-size: var(--title1);
  text-transform: uppercase;
}
.block--text{
  transition: 0.5s transform;
  &:hover{
    transform: scale(1.05);
  }
}