.button--goup{
  background: linear-gradient(var(--second-dark-1), var(--second-color));
  width: 40px;
  @include from(m){
    width: 45px;
  }
  padding: 0;
  position: fixed;
  bottom: 1.2rem;
  right: 0;
  z-index: var(--z-fixed);
  &:hover{
    // background: var(--second-color);
  }
  &.fade-in{
    opacity    : 1;
    transform  : translateY(0);
    transition : 0.5s all;
  }
  &.fade-out{
    opacity    : 0;
    transform: translateY(200%);
    transition : 0.5s all;
  }
}