/*
  initial: 'header-initial', //Cuando el elemento se inicializa
  pinned: 'header-up', //Cuando se deplaza hacia arriba
  top: 'header-top', //Cuando esta pegado arriba
  notTop: 'header-notop', //Cuando no esta pegado arriba
  bottom: 'header-bottom', //Cuando esta pegado abajo
  notBottom: 'header-nobottom'
*/
.header-initial{
  
}
.header-up{
  
}
.header-down{
  
}
.header-top{
  
}
.header-notop{
  // --header-height: 4.5rem;
  // .slogan, .menu-inicio, .horas-slogan{
  //   @include hideFrom(l)
  // }
  // .main-logo {
  //   height: 4rem;
  //   svg{
  //     width: 100%;
  //     height  : 8rem;
  //   }
  // }
  // position: fixed;
  // top: 0;
  // background: #FFF;
}
.header-bottom{
  
}
.header-nobottom{

}