.main-logo {
  width   : auto;
  height  : 45px;
  display : block;
  @include from(l){
    position: absolute;    
    height: 120px;
    padding-bottom: rem(15px);
    transform: translateY(-100%);
  }
}