.main-footer {
  background : var(--dark-color) url(../images/footer.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;;
  color      : #FFF;
  padding    : 1rem 0 .5rem;
  font-size  : var(--normal);
  margin-top : auto;
  .made-in{
    color: #FFF;
  }
  &__content{
    p{
      margin-bottom: 0;
    }
  }
  &__title{
    background: var(--second-color-alt);
    color: #FFF;
    padding: .8rem 0;
    text-transform: uppercase;
    border-radius: 20px 20px 0 0;
  }
}
