.main-inicio{
  --icon-wh: #{rem(50px)};
  @include from(l){
    --icon-wh: #{rem(60px)};
  }
  display: flex;
  justify-content: center;
  li{
    @include edItem(100,15,30);
    text-align: center;
  }
  i{
    margin-left: auto;
    margin-right: auto;
    @include mainCenter;
    @include crossCenter;
    width: var(--icon-wh);
    height: var(--icon-wh);
    border-radius: 10px;
    box-shadow: 1px 1px 0 var(--dark-rgb-7);
    padding: 0;
    font-size: var(--title1);
    text-align: center;
  }
  span, i{
    color: white;
    text-shadow: 0 0 1px var(--dark-color);
  }
  a:hover{
    i{
      background:var(--second-color);
    }
  }
  @include from(l){
    position: absolute;
    right: 0;
    transform: translateY(calc(-100% - .8rem));
  }
}