:root{
  --image: url(../images/no-disponible.jpg);
}
.main-section, [class*="main-section--"]{
  position: relative;
  padding: 1rem 0;
}
.main-section--silver{
  background-image: var(--image);
  background-size: cover;
  .icon {
    opacity: 1;
  }
}
section.main-section--first{ 
  background: repeating-linear-gradient( 45deg, var(--first-color), var(--first-color) 40px, var(--first-dark-1) 40px, var(--first-dark-1) 160px);
  color: #FFF;
  margin-bottom: 0 !important;
  background-attachment: fixed;
}
.main-section--second{
  background-image: var(--image);
  background-size: cover;
  background-attachment: fixed; 
  position: relative;
  padding-top: 3rem;
  padding-bottom: 2rem;
  h2, p, img{
    position: relative;
  }
  h2, p{
    color: #FFF;
  }
  h2{
    font-size: calc(var(--title1) * 2);
  }
  p {
    font-size: var(--title3);
  }
  &::before{
    content: '';
    background: linear-gradient(var(--second-rgb-3), var(--second-rgb-9) 120%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.main-section--accent{
  background-image: var(--image);
  background-size: cover;
  background-attachment: fixed; 
  position: relative;
  &::before{
    content: 'dfdsfdfsdf';
    background: linear-gradient(var(--accent-rgb-3), var(--accent-rgb-9) 120%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.main-section--prefooter{
  font-size: var(--small);
  border-top: solid 1px var(--dark-color);
  p{
    margin-bottom: .4rem;
  }
}