/*
  MAIN MENU
  Este es el menú principal del sitio, aparece dentro de main header

  Su estructura es
    <nav class="main-menu" id="main-menu">
      <ul>
        <li><a href="#">Item de menu</a></li>
        <li><a href="#">Item de menu</a></li>
      </ul>
    </nav>

  En movil se activa con un botón de hamburguesa.
  En el ejemplo es un div pero puede ser cualquier elemento
  (debe estar fuera del nav)
    <div id="main-menu-toggle" class="main-menu-toggle to-l"></div>

  Entra por la derecha justo debajo de main-header

*/

.main-menu {
  a:hover {
    text-decoration : none;
  }

  .active {

    @include from(l) {
      font-weight : 400;
      color: var(--third-color);

      &::before {
        display : none;
      }
    }
  }
}


body {
  position   : relative;
  right      : 0;
  transition : right .5s;

  &.main-menu-visible {
    @include to(l) {
      right      : 80%;
      // overflow-y : hidden;
    }
  }
}

.main-menu-toggle {
  @include navToggle(20px, var(--text-color));
}

@mixin main-menu {
  width: 100%;
  font-size : var(--small);

  @include to(l) {
    position   : fixed;
    top        : var(--header-height);
    background : var(--first-rgb-9);
    width      : 80%;
    right      : -80%;
    padding    : 1em 1em 2em;
    height     : calc(100vh - var(--header-height));
    transition : right .5s;
    overflow-y : auto;
    // Mostrar el menu
    &.show {
      right : 0;
    }
  }

  ul {
    @include clearMenu;
    @include from(l) {
      display : flex;
    }
  }

  li {
    position      : relative;
    color         : #FFF;
    padding       : .2rem .5rem;
    @include from(l) {
      color       : var(--text-color);
    }
  }
}

.main-menu {
  @include main-menu;
  .button--second{
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    height: 4rem;
    border-top: solid 5px var(--accent-color);
    border-bottom: solid 4px var(--accent-color);
    @include fromTo(l,xl){
      --header-height: 10rem;
      height: rem(50px);
    }
    @include crossCenter;
    @include mainCenter;
    line-height: 1;
    svg{
      transition: ease-in-out .3s transform;
      transform-origin: center; 
    }
  }
}
.main-carte{
  &:hover{  
    svg{
      transform: rotate(180deg);
    }
    .submenu{
      transform: scaleY(1);
    }
  }
}
.submenu{
  position: absolute;
  flex-direction: column;
  width: 100%;
  padding-right: 1rem;
  transform-origin: top;
  transform: scaleY(0);
  transition: .5s transform;
  &--item, li{
    background: var(--body-bg);
    box-shadow: 1px 1px 1px var(--dark-color);
    margin-bottom: 1px;
    padding: .5rem;
    &:hover{
      background: var(--border-color);
    }
  }
}
