@include fromTo(l, xl){
  :root{
    --header-height : 7rem;
  }
}
.main-header {
  height        : var(--header-height);
  border-bottom : 1px solid var(--border-color);
  display       : flex;
  align-items   : center;
  // background    : linear-gradient(var(--third-rgb-9), var(--third-rgb-3) );
  // background    : linear-gradient(30deg,var(--second-color), var(--second-dark-1),var(--second-color), var(--second-dark-1));
  position      : relative;
  top           : 0;
  width         : 100%;
  left          : 0;
  z-index       : var(--z-fixed);
  box-shadow    : 0px 0px 10px var(--dark-color);
}
