.main-banner {
  @include hideTo(l);
  background    : linear-gradient(var(--first-color), var(--first-dark-1), var(--first-dark-3));
  color         : #FFF;
  // clip-path     : polygon(0 0, 100% 0, 100% 100%, 0 94%);
  position      : relative;

  // Separación del contenido
  // padding       : 2rem 0 3rem;
  @include from(l) { 
    // padding: 5rem 0 6rem; 
    height: 200px;
  }

  &.main-banner--secondary { background : var(--second-color)  }
  &.main-banner--tertiary  { background : var(--third-color)  }
  &.main-banner--accent    { background : var(--accent-color) }
  &.main-banner--dark      { background : var(--dark-color)   }
}

.main-banner__img {
  position   : absolute;
  top        : 0;
  left       : 0;
  width      : 100%;
  height     : 100%;
  object-fit : cover;
  // opacity    : .1;
}

.main-banner__data {
  position      : relative;
  margin-top: 5rem;
  h1{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .5px;
    text-shadow: 1px 1px 1px var(--dark-color);
    background: var(--accent-rgb-7);
    margin-left: -2rem;
    padding-left: 1.5rem;
    padding-right: 1rem;
    border-radius: 0 20px 20px 0;
    border: double 2px; 
    border-left: none;
  }
}

.main-banner__author {
  color: #fff;
  margin-top : -1.5rem;

  a {
    color: inherit;
  }

  &-img {
    width : 6rem;
    height : 6rem;
    border-radius : 50%;
    border : 2px solid;
    display : block;
    margin : 0 auto;
  }

  &-name {
    font-size : var(--small);
  }
}
