@mixin tableStyle($color, $color-rgb-1, $color-rgb-3, $color-rgb-7 ) {
  th { background   : $color }
  tr {
    border-bottom : 1px solid $color-rgb-3;
    &:hover { background : $color-rgb-1 }
  }

  &.first-column {
    td:first-child {
      background : $color-rgb-7;
      color: #fff;
    }
  }
}

table {
  @include tableStyle(var(--first-color),var(--first-rgb-1),var(--first-rgb-3),var(--first-rgb-7));
  table-layout    : fixed;
  border-collapse : collapse;
  font-size       : var(--small);
  background      : #FFF;
  min-width       : 100%;

  th {
    font-family : 'Open Sans', sans-serif;
    text-align   : left;
    color        : #FFF;
    font-weight  : 700;
    border-right : 1px solid rgba(#fff, .2);
  }

  td {
    min-width     : 100px;
    &:nth-child(even) {
      background : var(--border-rgb-2);
    }
  }

  td, th {
    padding : 1em 1.5em;
  }
}

.table-container {
  overflow-x : auto;
  border     : 1px solid var(--border-color);
  margin-bottom : 2em;
  min-width      : 100%;
  position : relative;
  table-layout: fixed;
}

.table--secondary { @include tableStyle(var(--second-color),var(--second-rgb-1),var(--second-rgb-3),var(--second-rgb-7)) }
.table--tertiary  { @include tableStyle(var(--third-color),var(--third-rgb-1),var(--third-rgb-3),var(--third-rgb-7)) }
.table--accent    { @include tableStyle(var(--accent-color),var(--accent-rgb-1),var(--accent-rgb-3),var(--accent-rgb-7)) }
.table--dark      { @include tableStyle(var(--dark-color),var(--dark-rgb-1),var(--dark-rgb-3),var(--dark-rgb-7)) }
