.title{
  color: #FFF;
  text-shadow: 1px 1px 1px var(--second-color);
  background: linear-gradient(
    var(--first-color),
    var(--second-light-1)
  );
  border-bottom: solid 4px var(--border-color);
}
.title--mix-1 {
  color: var(--second-color);
  border-bottom: solid 1px var(--accent-color);
}
.title--tertiary {  }
.title--dark     {  }
.title--accent   {  }

.subtitle--oneline{
  white-space:nowrap;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}