- var currentPage = 'Inicio'
- var siteName = 'BELT CAR'
- var slogan = 'Expertos en Baterías para automotores'
-
	var description = `Empresa boliviana que lleva años comercializando 
	la más completa variedad de baterías para distintos sectores como: 
	automotriz, electrónico, equipo pesado, juguetes, alarmas y la 
	industria en general`

//-Site Version
- var siteVersion = '2.1.1'

//- Root images/svg
- var path_media = '/assets/'

//- Root pages
- var path_page = '/'

- let gallery = []