block config
  include config
include ../mixins/main-banner
doctype html
html(lang="es" prefix="og: http://ogp.me/ns#")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    if (currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) == 'Inicio')
      title= siteName + ' - ' + slogan
      meta(property="og:title" content=currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName)
    else
      title= currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName + ' - ' + slogan
      meta(property="og:title" content=currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName)
    meta(name='designer', content='Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com')
    meta(name="description" content=description)
    meta(property="og:description" content=description)  
    meta(name='author', content='')
    meta(name='keywords', content='baterías para autos, baterías para motocicletas, baterias')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Open+Sans:700|Share+Tech")
    link(rel="stylesheet" href= path_media + "css/styles.css?v=" + siteVersion)
  body(class=currentPage)
    #rex
      block banner
      include ../components/header
      block topbar
      block main
      include ../components/go-up
      include ../components/footer
    script(src= path_media + "js/modernizr.js")
    //- script(src= "https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY")
    script(src= "https://maps.googleapis.com/maps/api/js?key=AIzaSyCB69fT0i5alC-TQZ_7GrTxlm3k_hY8Yh8")
    script(src= path_media + "js/script.js?v=" + siteVersion)
      //- script(src="js/prism.js?v2")
