body{
  position: initial;
}
td [class*="button"] {
  display: inline;

  &:last-child {
    margin-right : 0;
  }
}
.made-in{
  opacity: .28;
  &:hover{
    opacity: 1;
  }
}
.video--header{
  width: 100%;
  padding-bottom: 38%;
  position: relative;
  overflow: hidden;
  video{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    object-fit: contain;
  }
}
.header--menu{
  position: absolute;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  ul{
    list-style: none;
    padding-left: 0;
  }
}
.header--menu.show{
  height: auto;
  transform: scaleY(1);
  transition: .5s transform;
  z-index: var(--z-normal);
}
.header--page{
  height: 120px;
}
