.rex-container
	.rex-item.l-50.m-75.s-90.to-center
		h2.center CONTÁCTENOS
		hr
		form.rex-container.form(v-on:submit.prevent="submitForm")
			.rex-container.rex-item.m-50
				.rex-item.form__item
					label.form__label(for="") Nombre completo: 
					input.form__input(v-model="vue.nombre" type="text" required="")
				.rex-item.form__item
					label.form__label(for="") Teléfono: 
					input.form__input(v-model="vue.telefono" type="number")
				.rex-item.form__item
					label.form__label(for="") Celular: 
					input.form__input(v-model="vue.movil" type="number" required="")
				.rex-item.form__item
					label.form__label(for="") Dirección: 
					input.form__input(v-model="vue.direccion" type="text" required="")
				.rex-item.form__item
					label.form__label(for="") Ciudad: 
					input.form__input(v-model="vue.ciudad" type="text" required="")
			.rex-container.rex-item.m-50
				.rex-item.form__item
					label.form__label(for="") Email: 
					input.form__input(v-model="vue.email" type="email" required="")
				.rex-item.form__item
					label.form__label(for="") Mensaje: 
					textarea.form__input(v-model="vue.mensaje" name="", cols="30", rows="10" required="")
				.rex-item.form__item.main-center
					button.button--second(type="submit") Enviar
					button.button--second(type="submit" v-on:click="clearForm()") Limpiar
				.statusMessage(v-if="formSubmitted")
					h4(v-text="vue.envio")