section.main-section--prefooter
	.rex-item.l-80.to-center
		.rex-container
			.rex-item
				h3.main-footer__title.center.t3 #{siteName} - Bolivia
			.rex-item.l-25
				p 
					b Casa Matriz:
					br
					| Carr. a Viacha Av. Ladislao Cabrera # 242, Villa Pacajes
					.rex-item.center
						a(href="").button--small
							| Ver mapa
							include ../svg/icon-map.svg
				p
					|	Cel. 72547012 - 71588455
					br
					|	Email. beltcar.service@gmail.com - omarbeltran@beltcar.com
			.rex-item.l-25
				p 
					b LANDAETA:
					br
					| Z. Alto San Pedro, Av. Landaeta #1023 entre José Saravia y Warnes
					.rex-item.center
						a(href="").button--small
							| Ver mapa
							include ../svg/icon-map.svg
				p
					| Tel/Fax. 2412496 Cel. 75229414
					br
					| Email. beltcar.service@gmail.com 
					br
					| hectorordonez@beltcar.com
			.rex-item.l-25
				p
					b ALTO SAN PEDRO: 
					br
					| Av. Landaeta # 893
					.rex-item.center
						a(href="").button--small
							| Ver mapa
							include ../svg/icon-map.svg
				p
					| Cel. 75887315 - 77231366
					br
					| Email. beltcar.service@gmail.com
			.rex-item.l-25
				p
					b VILLA FÁTIMA: 
					br
					| Av. Las Americas # 780, frente a Sub Alcaldía Hampaturi
					.rex-item.center
						a(href="").button--small
							| Ver mapa
							include ../svg/icon-map.svg
				p
					| Cel. 79554993
					br
					| Email. elioaliaga@gmail.com
footer.main-footer
	.rex-container
		.rex-item.m-100.s-100.main-footer__item.l-block
			h3.main-footer__title.center.t3 Productos / Accesorios
			.main-footer__content
				ul.rex-container.main-center(style="list-style: none;")
					li(v-for="item in mainmenu")
						a.button--second.button--small(:href="path_page + item.href + '.html'" v-text="item.title")
						//- a(v-if="item.submenu == null" :href="item.href" v-text="item.title")
						//- a(v-else :href="item.href" v-text="item.title + ': '")
						//- template(v-for="subitem in item.submenu")
							a(:href="subitem.href" v-text="' - ' + subitem.title")
	.rex-container.main-center.l-block
		.rex-item.l-30.m-100.s-100.main-footer__item.l-block
			//- h3.main-footer__title Contáctenos en:
			.main-footer__content.main-center.cross-center
				ul.social
					li: a.icon-whatsapp(href="https://api.whatsapp.com/send?phone=591" target="_blank")
					li: a.icon-facebook(href="" target="_blank")
					li: a.icon-youtube(href="" target="_blank")
		.rex-item.l-30.main-footer__item.main-center
			.main-footer__content
				p Todos los Derechos Reservados ® 
					br
					b #{siteName} 
					| © 
					span#currentDate
				p: a.made-in(href='https://ahpublic.com', target='_blank') Diseño y Programación: Ah! Publicidad
