header.main-header
	.rex-container.full
		.rex-item.s-80.cross-center
			a(href= path_page + "")
				img.main-logo(src=path_media + "images/logo.png", alt="")
		.rex-item.s-20.l-100.cross-center.main-end.header-links
			nav.main-menu
				ul.main-inicio
					li(v-for="item in menuinicio")
						a(:href="item.href")
							i.button--first(:class="item.icon")
							span(v-text="item.title")
				ul.rex-container.full#menupri
					li.rex-item.l-1-6.main-carte(v-for="item in mainmenu")
						a.button--second.full.t4(:href= "path_page + item.href + '.html'")
							span(v-text="item.title")
							template(v-if="item.submenu != null")
								include ../svg/expand.svg
						ul.submenu
							li.submenu--item(v-for="subitem in item.submenu")
								a(:href="subitem.href" v-text="' - ' + subitem.title")
			.main-menu-toggle.to-l#main-menu-toggle
.header--menu#main-menu.to-l
	ul.rex-container.full
		li.rex-item.xl-1-6.l-1-3.main-carte(v-for="item in mainmenu")
			a.button--second.full.t4(:href= "path_page + item.href + '.html'")
				span(v-text="item.title")
				template(v-if="item.submenu != null")
					include ../svg/expand.svg
			ul.submenu
				li.submenu--item(v-for="subitem in item.submenu")
					a(:href="subitem.href" v-text="' - ' + subitem.title")
