include ../mixins/main-banner
//- .slider-next.button NEXT
//- .slider-prev.button PREV
.rex-container(style= "display:none;")
  .slider-prev <i class="icon-left"></i>
  .slider-next <i class="icon-right"></i>
.rex-slider.from-l
  +banner(path_media + "images/slides/slider-55.jpg", 'Testers digitales', '', '', false, false)
  +banner(path_media + "images/slides/slider-66.jpg", 'Testers digitales', '', '', false, false)
  +banner(path_media + "images/slides/slider-444.jpg", 'Testers digitales', '', '', false, false)
  //- +banner(path_media + "images/slides/slider-3.jpg", 'Testers digitales', '', 'tertiary', false, false)
