// This file doesn't generate any css
@mixin button {
  display         : inline-block;
  padding         : 1em 1.1em;
  background      : var(--first-color);
  color           : #FFF;
  margin-right    : 1rem;
  cursor          : pointer;
  text-decoration : none;
  border-radius   : .25rem;
  transition      : transform .05s;
  border          : none;
  text-align      : center;
  text-shadow     : 1px 1px 1px var(--dark-rgb-7);

  &:hover {
    background      : var(--first-color-alt);
    text-decoration : inherit;
  }

  &:active {
    transform : scale(.99)
  }
}

@mixin button-small {
  padding : .3rem .6rem;
  font-size: var(--small);
  @include crossCenter;
  display: inline-flex;
}

@mixin button-center {
  display     : table;
  margin-left  : auto;
  margin-right : auto;
}

@mixin button-full {
  margin-right : 0;
  margin-left  : 0;
  width        : 100%;
}

@mixin button-last {
  margin-right: 0;
}

@mixin button-second {
  background : linear-gradient(var(--second-color), var(--second-dark-2));;

  &:hover {
    background : var(--second-color);
  }
}

@mixin button-alert {
  background : var(--third-color);

  &:hover {
    background : var(--third-color-alt);
  }
}

@mixin button-cta {
  background : linear-gradient(var(--accent-color-alt),var(--accent-dark-2));
  
  &:hover {
    background : linear-gradient(var(--accent-color),var(--accent-dark-2));
  }
}

@mixin button-ghost {
  color      : var(--first-color);
  background : none;
  border     : 1px solid;
  text-shadow : 1px 1px 1px var(--dark-rgb-1);

  &:hover {
    background   : var(--first-color);
    color        : #FFF;
    border-color : transparent;
  }
}

@mixin button-ghost-alert {
  color : var(--third-color);

  &:hover {
    background : var(--third-color);
    color      : #FFF;
  }
}
@mixin button-ghost-second {
  color : var(--second-color);

  &:hover {
    background : var(--second-color);
    color      : #FFF;
  }
}

@mixin button-ghost-cta {
  color : var(--accent-color);

  &:hover {
    background : var(--accent-color);
    color      : #FFF;
  }
}
