// Colors
$firstColor     : #00A3CC;
$firstColorAlt  : #0090b4;
$secondColor    : #0169b2;
$secondColorAlt : #234ab3;
$thirdColor     : #d13b31;
$thirdColorAlt  : #ac1717;
$accentColor    : #f8d71b;
$accentColorAlt : #fdd524;

// Complementary colors
$darkColor   : #263238;
$borderColor : #bbbbbb;
$textColor   : #53575A;
$bodyBg      : #FAFDFF;

// Mixin lighten & darken generate's CSS variables
@mixin colors($property, $value, $lighten: 0, $darken: 0) {
  @if ($lighten != 0) {
    @for $i from 1 through $lighten {
      #{$property}-light-#{$lighten - $i + 1}: #{lighten($value, 5*$lighten - $i + 1)};
    }
  }
  #{$property}-color: #{$value};
  @if ($darken != 0) {
    @for $i from 1 through $darken {
      #{$property}-dark-#{$i}: #{darken($value, 5*$i)};
    }
  }
}

// Mixin rbga generate CSS variable
@mixin rgba($property, $val, $alpha: 0) {
  #{$property}-rgb-#{$alpha*10}: #{rgba($val, $alpha)};
}

// map for colors
$primaryColors: (
  --first: $firstColor,
  --second: $secondColor,
  --third: $thirdColor,
  --accent: $accentColor,
  --dark: $darkColor,    
);
:root{
  // Colors
  @include colors    (--first, $firstColor, 3,3);
  --first-color-alt  : #{$firstColorAlt};
  @include colors    (--second,$secondColor,3,3);
  --second-color-alt : #{$secondColorAlt};
  @include colors    (--third, $thirdColor, 3,3);
  --third-color-alt  : #{$thirdColorAlt};
  @include colors    (--accent,$accentColor,3,3);
  --accent-color-alt : #{$accentColorAlt};
  
  // Complementary colors
  --dark-color       : #{$darkColor};
  --border-color     : #{$borderColor};
  --text-color       : #{$textColor};
  --body-bg          : #{$bodyBg};

}
// Creacion de otro root para visualizar todos los colores en la consola
:root{
  // RGBA colors
  @include rgba(--border, $borderColor, .2);
  @include rgba(--border, $borderColor, .5);
  @each $key, $value in $primaryColors {
    // RBGA para tablas, example: --first-rgb-1:
    @include rgba($key, $value, .1);
    @include rgba($key, $value, .3);
    @include rgba($key, $value, .7);
    @include rgba($key, $value, .9);
  }
}