// Settings for EDgrid
$dev        : false;
$cssCore    : false;
$cssHelpers : true;
$container  : rex-container;
$item       : rex-item;
$max-width  : 1344px;
$gutter     : 1rem;

// Breakpoints
$breakpoints : (
  s  : 0,
  m  : 640px,
  l  : 940px,
  xl : 1140px
);

// Fracciones para calcular anchos de los items
$fractions : 3 6;

// z-index
$z-back    : -10;
$z-normal  : 1;
$z-tooltip : 10;
$z-fixed   : 100;
$z-modal   : 1000;

:root {
  //layout
  --header-height : 5rem;
  --max-width     : #{$max-width};
  --gutter        : #{$gutter};

  // z-index
  --z-back    : #{$z-back};
  --z-normal  : #{$z-normal};
  --z-tooltip : #{$z-tooltip};
  --z-fixed   : #{$z-fixed};
  --z-modal   : #{$z-modal};
}

// Images path
$images-path: 'http://ux.ed.team/img';
